@import "./../../styling/theme.module.scss";

.EmployeesList {
    &__Header {
        display: flex;
        justify-content: space-between;

        margin-bottom: 30px;

        &_AddBtn {
            color: $primaryBtnText;
            background-color: $primaryBtnBackground;
            border-radius: 5px;
            width: 25%;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__AddBtn {
        width: 30%;
    }
}
