// Colors
$header: "#ebfbff";
$body: "#f5f5f5";
$footer: "#003333";
$widget: "#ffffff";
$primaryText: "#333333";
$primaryBorder: "#ccc";
$helperText: #7a7a7a;
$primaryBtnBackground: #2e5199;
$primaryBtnText: #f7f7f7;

$secondaryBtn: #f7f7f7;
$secondaryBtnBorder: #787878;

// Sizing breakpoints
$tablet: 768px;
$mobile: 375px;
$laptop: 1200px;
